{% include 'prenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jangaon</title>
    <style>
        logo h1{
            color: aliceblue;
        }
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .hospitals{
            background-color: aliceblue;
            width: 550px;


        }

    </style>
</head>
<body background="https://www.asterhospitals.in/sites/default/files/2021-01/about-us-new.jpg">
    <center>
        <br><br><br><br><br>
        <logo><h1>NEAR BY HOSPITALS IN HYDERABAD</h1></logo><br><br>
        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : yashodha hospitals</h2><br>
            <h2>LOCATION : hyderabad</h2>
            <h2>ADDRESS: SECUNDERABAD</h2>
            <a href="https://www.yashodahospitals.com/location/secunderabad/">hospital reference</a>          
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : Osmania multi specality hospitals</h2><br>
            <h2>LOCATION : hyderabad</h2>
            <h2>ADDRESS: AMBERPET</h2>
            <a href="https://osmaniahospital.com/">hospital reference</a>
            </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : Gandhi hospitals</h2><br>
            <h2>LOCATION : hyderabad</h2>
            <h2>ADDRESS: SECUNDERABAD</h2>
            <a href="https://www.gandhihospital.telangana.gov.in/index.htm">hospital reference</a>
            
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : apollo hospitals</h2><br>
            <h2>LOCATION : hyderabad</h2>
            <h2>ADDRESS: BANJARAHILLS</h2>
            <a href="https://www.apollohospitals.com/">hospital reference</a>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL :kims hospitals</h2><br>
            <h2>LOCATION : hyderabad</h2>
            <h2>ADDRESS: MADHAPUR</h2>
            <a href="https://www.kimshospitals.com/">hospital reference</a>
        </div><br><br>

    </center>
    
</body>
</html>