{% include 'prenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jangaon</title>
    <style>
        logo h1{
            color: aliceblue;
        }
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .hospitals{
            background-color: aliceblue;
            width: 550px;


        }

    </style>
</head>
<body background="https://www.asterhospitals.in/sites/default/files/2021-01/about-us-new.jpg">
    <center>
        <br><br><br><br><br>
        <logo><h1>NEAR BY HOSPITALS IN JANAGAM</h1></logo><br><br>
        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : life care hospitals</h2><br>
            <h2>LOCATION : jangaon</h2>
            <h2>ADDRESS:beside busstand</h2>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : Ajantha multi specality hospitals</h2><br>
            <h2>LOCATION : jangaon</h2>
            <h2>ADDRESS:opposite dayanilyam girls hostel</h2>
            <h2></h2>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : SSV hospitals</h2><br>
            <h2>LOCATION : janagam</h2>
            <h2>ADDRESS:ganesh street</h2>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : area hospitals</h2><br>
            <h2>LOCATION : janagam</h2>
            <h2>ADDRESS:beside court</h2>
        </div><br><br>
        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : balaji hospitals</h2><br>
            <h2>LOCATION : janagam</h2>
            <h2>ADDRESS:kurumawada</h2>
        </div><br><br>


    </center>
    
</body>
</html>