{% include 'prenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>janagam</title>
    <style>
        logo h1{
            color: aliceblue;
        }
        body{
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        .hospitals{
            background-color: aliceblue;
            width: 550px;


        }

    </style>
</head>
<body background="https://www.asterhospitals.in/sites/default/files/2021-01/about-us-new.jpg">
    <center>
        <br><br><br><br><br>
        <logo><h1>NEAR BY HOSPITALS IN WARANGAL</h1></logo><br><br>
        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : Rohini hospitals</h2><br>
            <h2>LOCATION : warangal</h2>
            <h2>ADDRESS:adalat</h2>
            <a href="https://www.rohinisuperspecialityhospital.com/contact-us.html">hospital reference</a>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : jaya hospital</h2><br>
            <h2>LOCATION : warangal</h2>
            <h2>ADDRESS:mattwada</h2>
            <a href="https://jayahospitals.in/">hospital reference</a>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : medicare hospitals</h2><br>
            <h2>LOCATION : warangal</h2>
            <h2>ADDRESS:mulugu road</h2>
            <a href="https://medicaregeneralhospital.in/">hospital reference</a>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL : Ajara hospitals</h2><br>
            <h2>LOCATION : warangal</h2>
            <h2>ADDRESS:mulugu road</h2>
            <a href="https://ajarahospitals.com/facilities">hospital reference</a>
        </div><br><br>

        <div class="hospitals">
            <h2>NAME OF THE HOSPITAL :sri lasya hospitals</h2><br>
            <h2>LOCATION : warangal</h2>
            <h2>ADDRESS:kothepet x road</h2>
            <a href="https://www.srilasyahospital.com/home.html">hospital reference</a>
        </div><br><br>


    </center>
    
</body>
</html>